<ion-content>
  <div class="header">
    <h1>Farmers Application</h1>
    <p>Please click on the chatbot virtual agent for any help</p>
  </div>
  <div class="navbar">
    <a href="\application" class="active">Home</a>
    <a href="\contact">Contact us</a>
    <a href="\explore">Info</a>
    <a href="\profile" class="right">Profile</a>
  </div>
  <div class="row">
    <div class="column">
  <img src="/assets/images/fertilizer.png" alt="fertilizer" style="width:100%">
</div>
<div class="column">
    <img src="/assets/images/fertilizer2.jpg" alt="fertilizer" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/fertilizer3.jpg" alt="fertilizer" style="width:100%">
  </div>
</div>
  <h4 class="ex1"><strong>Fertilizer, natural or artificial substance containing the chemical elements that improve growth and productiveness of plants. Fertilizers enhance the natural fertility of the soil or replace the chemical elements taken from the soil by previous crops.</strong></h4>
  <div class="row">
    <div class="column">
  <img src="/assets/images/plant1.jpg" alt="fertilizer" style="width:100%">
</div>
<div class="column">
  <img src="/assets/images/plant2.jpg" alt="fertilizer" style="width:100%">
</div>
<div class="column">
  <img src="/assets/images/plant3.jpg" alt="fertilizer" style="width:100%">
</div>
</div>
<h4 class="ex1"><strong>A crop is a plant or animal product that can be grown and harvested extensively for profit or subsistence. Crops may refer either to the harvested parts or to the harvest in a more refined state. Most crops are cultivated in agriculture or aquaculture. A crop may include macroscopic fungus, or macroscopic marine alga.</strong></h4>
<a href="/chat"><img src="/assets/images/avatar.png" alt="Avatar" class="avatar"></a>Hello! Ask me anything. Click on me to chat with me.

<div class="footer">
  <h2>You may contact us at +21-09090909</h2>
  <h3>You may also email us at help@farmerbot.in for any inquires</h3>
</div>
</ion-content>